@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/sarabun-regular.ttf) format("truetype");
}
@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/sarabun-bold.ttf) format("truetype");
}
